[submodule "ThirdParty/espeak"]
	path = ThirdParty/espeak
	url = https://github.com/dmikushin/espeak.git
[submodule "ThirdParty/phonemizer"]
	path = ThirdParty/phonemizer
	url = https://github.com/bootphon/phonemizer
[submodule "ThirdParty/extract_feats"]
	path = ThirdParty/extract_feats
	url = https://github.com/dmikushin/extract_feats
